.box{
    padding: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 10px 40px 40px;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgba(68,88,144,.1);
    cursor: pointer;
}

.card-header{
    background: 0 0;
    border: none;
}

.img-fluid{
    height: 100px;
    width: 100px;
}