<div class="box">

        <div class="text-center">
            <img src="{{product.image}}" class="img-fluid"/>
        </div>
        <div class="card-body">
              <h6 class="text-primary">{{product.title}}</h6>
              <h5>Rs : {{product.price}}</h5>
              <span>{{product.description}}</span>
        </div>
        <div class="card-footer">
            <div class="text-center">
            <button type='button' class="btn btn-secondary btn-sm" (click)='addToCart(product)'>Add To Cart</button>
            </div>
      </div>
      </div>
