<form [formGroup]="form"
      #searchform>
  <label for="search-addon"
         class="sr-only">{{'Search...'}}</label>
  <div class="input-group">
    <div class="input-group-prepend">
      <div class="input-group-text bg-primary text-white">
        <fa-icon [icon]="faSearch"></fa-icon>
      </div>
    </div>
    <input type="search"
           class="form-control"
           placeholder="{{'Search...'}}"
           aria-label="Product search"
           id="search-addon"
           formControlName="search"
           (keyup.enter)="search()">
  </div>
</form>